# .gitignore

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Variables de entorno
.env
.env.local
.env.production
.env.development

# Base de datos
*.db
*.sqlite3

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.codes
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp

# Archivos de backup
*.bak
*.backup

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.coverage.*
.coverage

# Dentro de cualquier carpeta "migrations":
# 1) Ignora la carpeta _pycache_
**/migrations/_pycache_/

# 2) Ignora TODO lo demás en migrations...
*/migrations/

# 3) ...pero conserva el _init_.py
!**/migrations/_init_.py

# Ignorar carpetas __pycache__ y archivos .pyc
*.cpython-*.pyc